@{ 
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutAccount.cshtml";
}
<button onclick="ss()">点我玩
</button>
<div class="form-group">
    <input type="button" class="btn-danger" value="杀杀杀"/>
</div>

<script>
    function ss() {
        alert("sdsdsd");

    }
    $(function () {
        alert("sdfsf");
    })
</script>